version: '3.8'

services:
  # --- AUTH SERVICE ---
  auth-service:
    build: ./Auth_api
    container_name: auth-service
    ports:
      - "8081:8081"
    # VOLUME DO SQLITE:
    # Mapeia a pasta local ./Auth_api para dentro do container.
    # Assim o arquivo 'app.db' é salvo no seu Windows e não se perde.
    volumes:
      - ./Auth_api:/app
    expose:
      - "9092"

  # --- PAYMENT SERVICE ---
  payment-service:
    build: ./PaymentService
    container_name: payment-service
    ports:
      - "8090:8090"
    environment:
      # CORREÇÃO AQUI: A URL do Ngrok tem que ficar neste serviço!
      - API_V1_MERCADOPAGO_NOTIFICATION_URL=https://30c0256e79a8.ngrok-free.app/validate/webhook
    volumes:
      - ./PaymentService:/app # Persistência do SQLite (se tiver banco aqui tbm)
    expose:
      - "9093"
    depends_on:
      - auth-service

  # --- VALORANT SERVICE ---
  valorant-service:
    build: ./Valorant_api
    container_name: valorant-service
    ports:
      - "8092:8092"
    volumes:
      - ./Valorant_api:/app # Persistência do SQLite
    expose:
      - "9091"
    depends_on:
      - auth-service


  gateway:
    build: ./ProjetoIntegracao
    container_name: api-gateway
    ports:
      - "8082:8082"
    depends_on:
      - auth-service
      - payment-service
      - valorant-service
