.container {
  padding: 20px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  object-fit: contain;
}

.cardTitle {
  margin-top: 10px;
  font-size: 18px;
}

.pagination {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.pageButton {
  background: #222;
  color: white;
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 10px;
  transition: background 0.3s;
}

.pageButton:hover {
  background: #333;
}

.pageButton:disabled {
  background: #666;
  cursor: not-allowed;
}

.pageInfo {
  font-size: 16px;
}
